.logout__container {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.user__logout {
  width: 50px;            
  height: 50px;
  border-radius: 50%;       
  border: none;
  background-color: rgb(110, 1, 110);
  color: white;            
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s ease-in-out;
}

.user__logout:hover {
  background-color: rgb(84, 1, 84);
}


.btn {
  margin: 4px;     
  border: none;
  border-radius: 4px;
  background-color: rgb(130, 2, 130);
  color: white;            
  font-size: 24px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}


.skeleton {
  background: linear-gradient(90deg, #e0e0e0 25%, #f5f5f5 50%, #e0e0e0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  border-radius: 8px;
  margin: 10px 0;
}

.skeleton-button {
  width: 130px;  
  height: 30px;  
  border-radius: 4px;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.App__container{
  display: flex;
  justify-content: flex-end;
  align-items: center;  
  gap: 8px;             
  padding: 10px;
}